<div>
    <h1>Usuario Test</h1>
    <p>first_name: {{user.first_name}}</p>
    <p>last_name: {{user.last_name}}</p>
    <p>email: {{user.email}}</p>
    <p>age: {{user.age}}</p>
    <p>role: {{user.role}}</p>
</div>